.about_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

.about_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
}

.about_sub_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e6e6e6;
  width: 100%;
  padding: 12px 8px;
}

.about_sub_title p {
  color: #3f3f3f;
  font-size: 15px;
  font-weight: bold;
}

.about_item_container {
  width: 100%;
}

.about_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #d2d2d2;
}

.about_item_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 10px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.about_item_link span {
  position: relative;
  width: 100%;
}

.about_item_link span:after {
  content:"\00a0";
  display:block;
  width: 4px;
  height: 4px;
  border: solid #b2b2b2;
  border-width: 0 2px 2px 0;
  position:absolute;
  right: 5px;
  top: 46%;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
