/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  font-size: 15px;
  width: 220px;
  margin: 0;
  padding: 0;
}

.sidebar-brand {
  width: 100%;
  height:auto;
  border-bottom: solid 1px #000000;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.sidebar-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.user-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.user-img-container img {
  width: 30px;
  height: auto;
}

.sidebar-item {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #000000;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.sidebar-item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #b2b2b2;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 15px 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  margin: 0 10px;
}

.mobile_login2020, .mobile_person2020, .mobile_heart2020, .mobile_bell2020, .mobile_mail2620, .mobile_help2020, .mobile_sakenomo2020, .mobile_beginner1620, .mobile_logout2020 {
  fill: #b2b2b2;
}

.mobile_login2020, .mobile_person2020, .mobile_heart2020, .mobile_bell2020, .mobile_help2020, .mobile_sakenomo2020, .mobile_logout2020 {
  width: 20px;
  height: 20px;
}

.mobile_beginner1620 {
  width: 16px;
  height: 20px;
}

.mobile_mail2620 {
  width: 18px;
  height: 20px;
}

.mobile_mail2620 {
  width: 26px;
  height: 20px;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.logo_navi_container .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  width: 20px;
  height: 16px;
  padding: 0;
  border: none;
  z-index: 90;
  cursor: pointer;
}

.logo_navi_container .hamburger span {
  position: absolute;
  background: #8c8c8c;
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.logo_navi_container .hamb-top {
  top: 0px;
}

.logo_navi_container .hamb-middle {
  top: 50%;
  margin-top: -1px;
}

.logo_navi_container .hamb-bottom {
  bottom: 0px;
}

.overlay .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 13px;
  left: 240px;
  background: transparent;
  width: 20px;
  height: 16px;
  border: none;
  z-index: 90;
  cursor: pointer;
}

.overlay .hamburger span {
  position: absolute;
  background: #ffffff;
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.overlay .hamb-top {
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
}

.overlay .hamb-middle {
  display: none;
}

.overlay .hamb-bottom {
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(63, 63, 63, 0.75);
  z-index: 100;
  display: none;
}

@media only screen and (min-width: 800px) {
  .logo_navi_container .hamburger {
    display: none;
  }
}
