#panelheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

#main_banner_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

#mainframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}

#banner_frame {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}

/*panelheader*******************/
#inshokuten_name {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
}

#inshokuten_english {
  color: #000000;
  font-size: 13px;
  margin-top: 4px;
  line-height: 140%;
}

.inshokuten_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  line-height: 180%;
  margin-top: 8px;
}

.inshokuten_info li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}

.inshokuten_info li:last-child {
  margin-right: 0px;
}

.inshokuten_info li:nth-of-type(2), .inshokuten_info li:nth-of-type(3), .inshokuten_info li:nth-of-type(4) {
  display: none;
}

.inshokuten_info li span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#address {
  margin-left: 5px;
}

#favorite_inshokuten_count {
  font-weight: bold;
  margin-left: 5px;
}

.inshokuten_info_map1216, .inshokuten_info_telephone1616, .inshokuten_info_holiday1616, .inshokuten_info_people1616 {
  fill: #b2b2b2;
  margin-right: 5px;
}

.inshokuten_info_map1216 {
  width: 12px;
  height: 16px;
}

.inshokuten_info_telephone1616, .inshokuten_info_holiday1616, .inshokuten_info_people1616 {
  width: 16px;
  height: 16px;
}

.inshokuten_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
}

/*tab_main*******************/
#tab_main {
  width: 1200px;
  max-width: 100%;
}

/*simpleTabs*******************/
.simpleTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  height: auto;
}

.simpleTabs li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.simpleTabs li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  color: #8c8c8c;
  font-size: 11px;
  width: 100%;
  height: 56px;
  margin-left: 2px;
}

.simpleTabs li:first-child a {
  margin-left: 0;
}

.simpleTabs li a.active {
  background: #D8E460;
  color: #000000;
  font-weight: bold;
}

.simpleTabs li a span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simpleTabs li a:before {
  position: absolute;
  content: '';
  bottom: -8px;
  border-top: 8px solid #D8E460;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  display: none;
}

.simpleTabs li a.active:before {
  display: block;
}

.simpleTabs li a span span {
  font-weight: bold;
}

.simpleTabs_product3630, .simpleTabs_map2430 {
  fill: #8c8c8c;
  margin-bottom: 4px;
}

.simpleTabs_product3630 {
  width: 24px;
  height: 20px;
}

.simpleTabs_map2430 {
  width: 16px;
  height: 20px;
}

.simpleTabs a.active .simpleTabs_product3630, .simpleTabs a.active .simpleTabs_map2430 {
  fill: #000000;
}

/*tab-top(top)*******************/
#tab-sake, #tab-map {
  width: 100%;
  margin-top: 8px;
}

.page_navigation, .comment_sort, .photo_filter, .inshokuten_map_select {
  width: 100%;
  margin-top: 16px;
}

/*tab-sake(product)*******************/
.user_drop_down {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sake_search_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.sake_search_search2020 {
  fill: #b2b2b2;
  width: 12px;
  height: 12px;
}

.drop_down_select_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12px;
}

.sake_selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 16px;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

/*product_count*******************/
.product_count_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  color: #3f3f3f;
  font-size: 12px;
  padding: 4px 8px;
  margin: 8px 0;
}

#add_sake_menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f3f3f;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}

.add_sake_menu_pluslarge2020 {
  fill: #8c8c8c;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/********************/
#dialog_add_inshokuten {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 16px 8px;
  margin: 0 auto;
}

.close_add_inshokuten {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.close_add_inshokuten_button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.close_add_inshokuten_prev2020 {
  fill: #3f3f3f;
  width: 20px;
  height: 20px;
}

.add_inshokuten_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  border-top: 3px solid #d2d2d2;
  border-bottom: 3px solid #d2d2d2;
}

.add_inshokuten_note {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #8BA340;
  font-size: 12px;
  line-height: 120%;
  width: 100%;
  padding: 0 8px;
  margin-top: 16px;
}

.add_inshokuten_form_container {
  width: 100%;
  margin-top: 8px;
}

#add_sake_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e6e6e6;
  color: #3f3f3f;
  font-size: 16px;
  width: 100%;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  autocomplete="off";
}

#add_sake_content {
  width: 100%;
  margin-top: 4px;
}

#add_sake_content li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  min-height: 50px;
  padding: 8px;
  cursor: pointer;
}

.add_sake_content_icon {
  object-fit: cover;
  fill: #b2b2b2;
  max-width: 15px;
  min-width: 15px;
  max-height: 15px;
  min-height: 15px;
  margin-right: 8px;
}

#add_sake_content li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#add_sake_content li div span {
  margin-right: 8px;
}

#add_sake_content li div span:last-child {
  color: #b2b2b2;
  font-size: 12px;
  margin-right: 0;
}

#add_sake_content li:hover {
  background: #B4DCE6;
}

.add_inshokuten_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

input[name="add_inshokuten_ok"] {
  background: #C5CE51;
  color: #3f3f3f;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*product_result*******************/
#search_sake_result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.searchRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

.searchRow:first-child {
  margin-top: 0;
}

.search_sake_result_name_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.search_sake_result_thumb_sake {
  overflow: hidden;
  width: 70px;
  min-width: 70px;
  height: 80px;
  border: 1px solid #d2d2d2;
  margin-right: 8px;
}

.search_sake_result_thumb_sake img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search_sake_result_sake_brewery_date_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-right: 0;
  margin-bottom: 8px;
  flex-grow: 1;
}

.search_sake_name {
  color: #0740A5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 140%;
}

.search_sake_result_brewery_date_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  margin-top: 4px;
}

.search_sake_result_date {
  font-size: 12px;
  color: #8c8c8c;
}

.sake_menu_delete_button_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  margin-left: 8px;
}

.sake_menu_delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.sake_menu_delete_button:hover {
  background: #e6e6e6;
}

.sake_menu_delete_button_close2020 {
  fill: #8c8c8c;
  width: 12px;
  height: 12px;
}

/*sake_rank*******************/
.sake_rank {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.sake_rank_star_rating {
  position: relative;
  width: 100px;
  height: 20px;
  font-size: 20px;
  margin-top: 8px;
}
.sake_rank_star_rating_front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #AAC81E;
}
.sake_rank_star_rating_back {
  color: #d2d2d2;
}

.sake_rank_sake_rate {
  color: #E05314;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 8px;
}

/*spec*******************/
.spec {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.spec_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 33.333333%;
  height: 36px;
  padding: 0 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-right: 1px solid #e6e6e6;
}

.spec_item:nth-child(1), .spec_item:nth-child(5) {
  display: none;
}

.spec_item:nth-child(4) {
  border-right: none;
}

.spec_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 8px;
}

.spec_info {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spec_item_tokuteimeisho1616, .spec_item_alc1616, .spec_item_rice1616, .spec_item_cleanedrice1616, .spec_item_nihonshudo1616, .spec_item_sando1616, .spec_item_aminosando1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/*tab-map*******************/
.inshokuten_map_button_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.inshokuten_map_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d2d2d2;
  color: #ffffff;
  width: 128px;
  height: 32px;
  margin-right: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.inshokuten_map_button:first-child {
  background: #22445B;
}

.inshokuten_map_button:last-child {
  margin-right: 0;
}

.inshokuten_map_map1216 {
  fill: #ffffff;
  width: 12px;
  height: 16px;
  margin-right: 8px;
}

#inshokuten_map {
  width: 100%;
  height: 400px;
  margin-top: 16px;
}

#inshokuten_map iframe {
  width: 100%;
  height: 100%;
}

/*inshokuten_spec*******************/
#inshokuten_spec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  width: 100%;
  height: auto;
}

#inshokuten_spec > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.detail2430 {
  fill: #8c8c8c;
  width: 20px;
  height: 25px;
  margin-right: 10px;
}

.edittable {
  width: 100%;
  height: auto;
}

.inshokutenrow {
  color: #3f3f3f;
  width: 100%;
  height: auto;
}

.inshokutencolumn1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #e6e6e6;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: auto;
  padding: 8px;
  padding-left: 32px;
}

.inshokutencolumn1:before{
  content:"\00a0";
  display: block;
  border: solid 9px #b2b2b2;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  height: 0;
  width: 0;
  position: absolute;
  left: 8px;
  top: 47%;
  margin-top: -8px;
}

.inshokutencolumn1:after{
  content:"\00a0";
  display:block;
  width: 3px;
  height: 6px;
  border: solid #e6e6e6;
  border-width: 0 2px 2px 0;
  position:absolute;
  left: 15px;
  top: 47%;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inshokutencolumn2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  height: auto;
  padding: 8px;
}

#postal_code {
  margin-right: 4px;
}

#inshokuten_map2 {
  width: 100%;
  height: 160px;
  margin-top: 8px;
}

#inshokuten_map2 iframe {
  width: 100%;
  height: 100%;
}

/*ad*******************/
#ad1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #d2d2d2;
  margin-top: 20px;
}

#ad1 img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

@media only screen and (min-width: 340px) {
  .spec_title {
    font-size: 11px;
  }
}

@media only screen and (min-width: 370px) {
  .spec_title {
    font-size: 13px;
  }
}

@media only screen and (min-width: 410px) {
  .search_sake_result_brewery_date_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 560px) {
  #inshokuten_name {
    font-size: 18px;
  }

  .search_sake_result_thumb_sake {
    width: 80px;
    min-width: 80px;
  }

  .search_sake_result_sake_brewery_date_container {
    margin-right: 8px;
  }

  .search_sake_result_brewery_date_container {
    justify-content: flex-start;
  }

  .search_sake_result_date {
    margin-left: 20px;
  }

  .spec_item {
    width: auto;
    max-width: 120px;
    padding: 0 10px;
  }

  .spec_item:nth-child(4) {
    border-right: 1px solid #e6e6e6;
  }

  .spec_item:last-child {
    border-right: none;
  }

  .spec_item:nth-child(1), .spec_item:nth-child(5) {
    display: flex;
  }

  #dialog_add_inshokuten {
    width: 86%;
    max-width: 1200px;
    height: auto;
    padding: 32px;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 800px) {
  .simpleTabs li a {
    font-size: 15px;
    height: 40px;
  }

  .simpleTabs li a span {
    flex-direction: row;
  }

  .simpleTabs_product3630, .simpleTabs_map2430 {
    margin-right: 8px;
    margin-bottom: 0;
  }

  .simpleTabs_product3630 {
    width: 30px;
    height: 25px;
  }

  .simpleTabs_map2430 {
    width: 20px;
    height: 25px;
  }

  .search_sake_name {
    font-size: 16px;
  }
}

@media only screen and (min-width: 880px) {
  .inshokuten_info li:nth-of-type(2), .inshokuten_info li:nth-of-type(3), .inshokuten_info li:nth-of-type(4) {
    display: flex;
  }
}

@media only screen and (min-width: 1260px) {
  #main_banner_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #mainframe {
    width: 880px;
  }

  #banner_frame {
    display: flex;
    width: 300px;
  }

  #ad1 {
    border-top: 0 solid transparent;
    margin-top: 0;
  }

  #ad1 img {
    margin-top: 0;
  }
}
