#panelheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

#main_banner_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

#mainframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}

#banner_frame {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}

/*panelheader*******************/
#sakagura_name {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
}

#sakagura_read {
  display: none;
  color: #000000;
  font-size: 13px;
  margin-top: 4px;
  line-height: 140%;
}/*非表示設定*/

#sakagura_english {
  color: #000000;
  font-size: 13px;
  margin-top: 4px;
  line-height: 140%;
}

.sakagura_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  line-height: 180%;
  margin-top: 8px;
}

.sakagura_info li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}

.sakagura_info li:last-child {
  margin-right: 0px;
}

.sakagura_info li:nth-of-type(2), .sakagura_info li:nth-of-type(3), .sakagura_info li:nth-of-type(4) {
  display: none;
}

.sakagura_info li span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#address, #brand, #observation, #favorite_sakagura_count {
  margin-left: 5px;
}

#favorite_sakagura_count {
  font-weight: bold;
}

.sakagura_info_map1216, .sakagura_info_telephone1616, .sakagura_info_bottle1616, .sakagura_info_people1616, .sakagura_info_visit1616 {
  fill: #b2b2b2;
  margin-right: 5px;
}

.sakagura_info_map1216 {
  width: 12px;
  height: 16px;
}

.sakagura_info_telephone1616, .sakagura_info_bottle1616, .sakagura_info_people1616, .sakagura_info_visit1616 {
  width: 16px;
  height: 16px;
}

.sakagura_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
}

.sakagura_buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e6e6e6, #ffffff);
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sakagura_buttons li:first-child {
  margin-right: 20px;
}

.sakagura_buttons_writing1816, .sakagura_buttons_pin1616, .sakagura_buttons_share1816 {
  fill: #b2b2b2;
  margin-right: 5px;
  transition: 0.3s;
}

.sakagura_buttons_writing1816, .sakagura_buttons_share1816 {
  width: 18px;
  height: 16px;
}

.sakagura_buttons_pin1616 {
  width: 16px;
  height: 16px;
}

.sakagura_buttons li:hover {
  border: 1px solid #FF4545;
}

/*tab_main*******************/
#tab_main {
  width: 1200px;
  max-width: 100%;
}

/*simpleTabs*******************/
.simpleTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  height: auto;
}

.simpleTabs li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.simpleTabs li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  color: #8c8c8c;
  font-size: 11px;
  width: 100%;
  height: 56px;
  margin-left: 2px;
}

.simpleTabs li:first-child a {
  margin-left: 0;
}

.simpleTabs li a.active {
  background: #D8E460;
  color: #000000;
  font-weight: bold;
}

.simpleTabs li a span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simpleTabs li a:before {
  position: absolute;
  content: '';
  bottom: -8px;
  border-top: 8px solid #D8E460;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  display: none;
}

.simpleTabs li a.active:before {
  display: block;
}

.simpleTabs li a span span {
  font-weight: bold;
}

.simpleTabs_product3630, .simpleTabs_map2430 {
  fill: #8c8c8c;
  margin-bottom: 4px;
}

.simpleTabs_product3630 {
  width: 24px;
  height: 20px;
}

.simpleTabs_map2430 {
  width: 16px;
  height: 20px;
}

.simpleTabs a.active .simpleTabs_product3630, .simpleTabs a.active .simpleTabs_map2430 {
  fill: #000000;
}

/*tab-top(top)*******************/
#tab-sake, #tab-map {
  width: 100%;
  height: auto;
}

.page_navigation, .sakagura_map_select {
  width: 100%;
  margin-top: 16px;
}

/*tab-sake(product)*******************/
.user_drop_down {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sake_search_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.sake_search_search2020 {
  fill: #b2b2b2;
  width: 12px;
  height: 12px;
}

.drop_down_select_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12px;
}

.sake_selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 16px;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.click_sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.click_sort div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.click_sort_sort1214 {
  fill: #b2b2b2;
  width: 12px;
  height: 14px;
}

.click_sort_read, .click_sort_date, .click_sort_ranking, .click_sort_standard, .click_sort_like {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0740A5;
  font-size: 13px;
  height: 20px;
  padding: 0 4px;
  margin-left: 8px;
  cursor: pointer;
}

/*product_count*******************/
.product_count_container, .comment_count_container, .photo_count_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  color: #3f3f3f;
  font-size: 12px;
  padding: 4px 8px;
  margin: 8px 0;
}

.navigate_page_no_registry {
  background: #f5f5f5;
  color: #8c8c8c;
  font-size: 16px;
  width: 100%;
  padding: 16px;
  margin-top: 24px;
  border: 2px dotted #d2d2d2;
}

.search_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  color: #3f3f3f;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 2px;
  margin-right: 10px;
  cursor:pointer;
}

/*product_result*******************/
#search_sake_result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.searchRow_link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

.searchRow_link:first-child {
  margin-top: 0;
}

.search_sake_result_name_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.search_sake_result_thumb_sake {
  overflow: hidden;
  width: 70px;
  min-width: 70px;
  height: 80px;
  border: 1px solid #d2d2d2;
  margin-right: 8px;
}

.search_sake_result_thumb_sake img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search_sake_result_sake_brewery_date_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-right: 0;
  margin-bottom: 8px;
  flex-grow: 1;
}

.search_sake_name {
  color: #0740A5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 140%;
}

.search_sake_result_brewery_date_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  margin-top: 4px;
}

.search_sake_result_date {
  font-size: 12px;
  color: #8c8c8c;
}

.search_sake_result_button_container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  min-width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.custom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e6e6e6, #ffffff);
  height: 28px;
  border: 2px solid #d2d2d2;
  border-radius: 4px;
  padding: 0 16px;
}

.custom_button:first-child {
  margin-bottom: 8px;
}

.custom_button:hover {
  background: linear-gradient(#EDCACA, #ffffff);
  border: 2px solid #FF4545;
}

.button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_sake_result_button_heart2020, .search_sake_result_button_pin1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.custom_button:hover .search_sake_result_button_heart2020, .custom_button:hover .search_sake_result_button_pin1616 {
  fill: #FF4545;
}

.button_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #666666;
  font-size: 13px;
  font-weight: bold;
}

/*sake_rank*******************/
.sake_rank {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.sake_rank_star_rating {
  position: relative;
  width: 100px;
  height: 20px;
  font-size: 20px;
  margin-top: 8px;
}
.sake_rank_star_rating_front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #AAC81E;
}
.sake_rank_star_rating_back {
  color: #d2d2d2;
}

.sake_rank_sake_rate {
  color: #E05314;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
  margin-top: 8px;
}

/*spec*******************/
.spec {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.spec_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 33.333333%;
  height: 36px;
  padding: 0 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-right: 1px solid #e6e6e6;
}

.spec_item:nth-child(1), .spec_item:nth-child(5) {
  display: none;
}

.spec_item:nth-child(4) {
  border-right: none;
}

.spec_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 8px;
}

.spec_info {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spec_item_tokuteimeisho1616, .spec_item_alc1616, .spec_item_rice1616, .spec_item_cleanedrice1616, .spec_item_nihonshudo1616, .spec_item_sando1616, .spec_item_aminosando1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/*tab-comment(comment)*******************/
.click_sort {
  margin-top: 0;
}

.custom_button:first-child {
  margin-bottom: 0;
}

#search_background {
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
  background-color: #ffffff;
	color: #aaaaaa;
	opacity: .9;
	filter: alpha(opacity = 90);
}

#inner_background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.loader {
  border: 2px solid #3498db;
	border-radius: 50%;
	border-top: 2px solid #ffffff;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*tab-photo(photo)*******************/
.sakagura_map_button_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.sakagura_map_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d2d2d2;
  color: #ffffff;
  width: 128px;
  height: 32px;
  margin-right: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.sakagura_map_button:last-child {
  margin-right: 0;
}

.sakagura_map_button:first-child {
  background: #22445B;
}

.sakagura_map_button div {
  color: #ffffff;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80px;
}

.sakagura_map_map1216 {
  fill: #ffffff;
  width: 12px;
  height: 16px;
  margin-right: 8px;
}

/*tab-map(map)*******************/
#sakagura_map {
  width: 100%;
  height: 400px;
  margin-top: 16px;
}

#sakagura_map iframe {
  width:100%;
  height:100%;
}

/*updatebar*******************/
.updatebar_container {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

#updatebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 16px 0;
}

#update_sakagura, #add_new_sakagura {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 240px;
  height: 30px;
  border-radius: 4px;
  margin: 8px 20px;
  cursor: pointer;
}

#update_sakagura {
  background: #28809E;
  color:#ffffff;
}

#add_new_sakagura {
  background: #C5CE51;
  color:#000000;
}

.update_sakagura_penplus2020, .add_new_sakagura_pen1616 {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.update_sakagura_penplus2020 {
  fill: #ffffff;
}

.add_new_sakagura_pen1616 {
  fill: #3f3f3f;
}

/*sakagura_spec*******************/
#sakagura_spec, .spec_extra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  width: 100%;
  height: auto;
}

#sakagura_spec > div:first-child, .spec_extra > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.detail2430 {
  fill: #8c8c8c;
  width: 20px;
  height: 25px;
  margin-right: 10px;
}

.edittable {
  width: 100%;
  height: auto;
}

.sakagurarow {
  color: #3f3f3f;
  width: 100%;
  height: auto;
}

.sakaguracolumn1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #e6e6e6;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: auto;
  padding: 8px;
  padding-left: 32px;
}

.sakaguracolumn1:before{
  content:"\00a0";
  display: block;
  border: solid 9px #b2b2b2;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  height: 0;
  width: 0;
  position: absolute;
  left: 8px;
  top: 47%;
  margin-top: -8px;
}

.sakaguracolumn1:after{
  content:"\00a0";
  display:block;
  width: 3px;
  height: 6px;
  border: solid #e6e6e6;
  border-width: 0 2px 2px 0;
  position:absolute;
  left: 15px;
  top: 47%;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sakaguracolumn2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  height: auto;
  padding: 8px;
}

#sakagura_map2 {
  width: 100%;
  height: 160px;
  margin-top: 8px;
}

#sakagura_map2 iframe {
  width: 100%;
  height: 100%;
}

/*ad*******************/
#ad1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #d2d2d2;
  margin-top: 20px;
}

#ad1 img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

/********************/
#postal_code {
  margin-right: 4px;
}

#fileID {
  visibility: hidden;
}

@media only screen and (min-width: 340px) {
  .spec_title {
    font-size: 11px;
  }
}

@media only screen and (min-width: 370px) {
  .spec_title {
    font-size: 13px;
  }
}

@media only screen and (min-width: 410px) {
  .search_sake_result_brewery_date_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 560px) {
  #sakagura_name {
    font-size: 18px;
  }

  .search_sake_result_thumb_sake {
    width: 80px;
    min-width: 80px;
  }

  .search_sake_result_sake_brewery_date_container {
    margin-right: 8px;
  }

  .search_sake_result_brewery_date_container {
    justify-content: flex-start;
  }

  .search_sake_result_date {
    margin-left: 20px;
  }

  .spec_item {
    width: auto;
    max-width: 120px;
    padding: 0 10px;
  }

  .spec_item:nth-child(4) {
    border-right: 1px solid #e6e6e6;
  }

  .spec_item:last-child {
    border-right: none;
  }

  .spec_item:nth-child(1), .spec_item:nth-child(5) {
    display: flex;
  }

  .search_sake_result_button_container {
    display: flex;
  }
}

@media only screen and (min-width: 800px) {
  .simpleTabs li a {
    font-size: 15px;
    height: 40px;
  }

  .simpleTabs li a span {
    flex-direction: row;
  }

  .simpleTabs_product3630, .simpleTabs_map2430 {
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .simpleTabs_product3630 {
    width: 30px;
    height: 25px;
  }

  .simpleTabs_map2430 {
    width: 20px;
    height: 25px;
  }

  .search_sake_name {
    font-size: 16px;
  }
}

@media only screen and (min-width: 880px) {
  .sakagura_info li:nth-of-type(2), .sakagura_info li:nth-of-type(3), .sakagura_info li:nth-of-type(4) {
    display: flex;
  }
}

@media only screen and (min-width: 1260px) {
  #main_banner_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #mainframe {
    width: 880px;
  }

  #banner_frame {
    display: flex;
    width: 300px;
  }

  .multiple-brewery li {
    margin: 0;
  }

  #ad1 {
    border-top: 0px solid transparent;
    margin-top: 0px;
  }

  #ad1 img {
    margin-top: 0px;
  }
}
