/********************
* container
*******************/
#container, #all_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 80px;
}

/********************
* navigation
*******************/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
}

.logo_navi_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: 32px;
  margin: 8px 0px 6px 0px;
}

#logo {
  cursor: pointer;
}

.logoheart14024 {
  width: 140px;
  height: 24px;
}

.mobile_search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

#navigation_menu {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
}

#navigation_menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f3f3f;
  font-size: 14px;
  height: 32px;
  border-radius: 16px;
  padding: 8px;
  margin-left: 10px;
  cursor:pointer;
}

#navigation_menu li:last-child {
  padding: 0;
  cursor: default;
}

#navigation_menu li:last-child:hover {
  background: none;
}

#navigation_menu li:hover, #login:hover, #mypage:hover {
  background: #e6e6e6;
}

#navigation_menu li:first-child:hover {
  background: none;
}

#about_sakenomo span {
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: underline;
}

.header_sakenomo2020, .header_heart2020, .header_help2020, .header_person2020, .header_login2020 {
  width: 20px;
  height: 20px;
  fill: #8c8c8c;
  margin-right: 5px;
}

.header_mail2620 {
  width: 26px;
  height: 20px;
  fill: #8c8c8c;
  margin-right: 5px;
}

#mypage_button_container {
  position: relative;
}

#login, #mypage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border-radius: 16px;
  cursor: pointer;
}

.header_arrow_icon, .header_arrow_icon span {
  display: inline-block;
  box-sizing: border-box;
}

.header_arrow_icon {
  position: relative;
  background: #e6e6e6;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 8px;
  cursor: pointer;
}

.header_arrow_icon span {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #8c8c8c;
  border-right: 2px solid #8c8c8c;
}

.header_arrow_icon span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.header_arrow_icon.active span {
  top: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#mypage_content {
  position: absolute;
  top: 32px;
  right: 0;
  display: none;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

#logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

#logout:hover {
  background: #B4DCE6;
}

/********************
* side:sidebar on left invoked by humburger
********************/
#wrapper {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  padding-left: 0;
  transition: all 0.3s ease;
}

#wrapper.toggled {
  margin-right: -220px;
  margin-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#sidebar-wrapper {
  position: fixed;
  top: 0px;
  left: 220px;
  width: 0px;
  height: 100%;
  background: #3f3f3f;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/********************
* searchbar
********************/
.searchbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
  margin-bottom: 10px;
}

#searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e6e6e6;
  width: 100%;
  height: 32px;
  border-radius: 4px;
}

/********************
* category_menu
********************/
#category_menu {
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 32px;
  border-radius: 4px 0 0 4px;
}

#category_menu_trigger {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-width: 100%;
  height: auto;
  padding: 8px 0;
  cursor:pointer;
}

#category_menu_trigger span {
  position: relative;
  color:#8c8c8c;
  font-size: 13px;
  padding-right: 14px;
}

#category_menu_trigger span:after {
  content:"\00a0";
  display:block;
  width: 4px;
  height: 4px;
  border: solid #b2b2b2;
  border-width: 0 2px 2px 0;
  position:absolute;
  right: 2px;
  top: 46%;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/********************
*search_content
*********************/
#search_content_position_adjust {
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  max-width: 96%;
  height: auto;
  display: none;
}

#search_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 100%;
  background: #e6e6e6;
  color: #3f3f3f;
  font-size: 14px;
  width: 220px;
  max-width: 100%;
  height: auto;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  z-index: 100;
  display: none;
}

.search_content_close {
  float:right;
  margin: 6px 8px 0 0;
  cursor: pointer;
}

.category_close2020 {
  fill: #8c8c8c;
  width: 16px;
  height: 16px;
}

.search_content_title {
  color: #8c8c8c;
  font-weight: bold;
  width: 220px;
  max-width: 100%;
  height: 30px;
  padding: 8px 0px;
  padding-left: 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background:#ffffff;
  width: 220px;
  max-width: 100%;
  height: auto;
}

.menu li {
  width: 220px;
  max-width: 100%;
  padding: 8px 0;
  padding-left: 8px;
  cursor:pointer;
}

.menu li:hover {
  background: #B4DCE6;
}

.border_line_invisible {
  display: none;
}

/********************
* sake
********************/
#sake {
  width: 100%;
  height: 32px;
  flex-grow: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#sake_form {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 32px;
}

.search_button_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 32px;
}

#sake_submit_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 100%;
  height: 100%;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.header_search2020 {
  fill: #b2b2b2;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
}

#sake_form .input_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  flex-grow: 1;
}

#sake_input {
  background: none;
  color: #3f3f3f;
  font-size: 16px;
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
  outline: none;
}

#sake_input::-webkit-input-placeholder {
  color: #b2b2b2;
}

#sake_input:-ms-input-placeholder {
  color: #b2b2b2;
}

#sake_input::-moz-placeholder {
  color: #b2b2b2;
}

/********************
* auto complete list box
********************/
#sake_content {
  position: fixed;
  top: 84px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.25);
  color: #000000;
  font-size: 14px;
  line-height: 140%;
  list-style-type: none;
  width: 1200px;
  max-width: 96%;
  height: auto;
  max-height: 60%;
  border-radius: 4px;
  overflow-x:hidden;
  overflow-y:auto;
  visibility: hidden;
  z-index: 100;
}

#sake_content li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 100%;
  min-height: 50px;
  padding: 8px;
  cursor: pointer;
}

#sake_content li:hover {
  background: #B4DCE6;
}

.autocomplete_icon_sake, .autocomplete_icon_brewery, .autocomplete_icon_store {
  object-fit: cover;
  fill: #b2b2b2;
  max-height: 15px;
  min-height: 15px;
  margin-right: 8px;
}

.autocomplete_icon_sake, .autocomplete_icon_store {
  max-width: 15px;
  min-width: 15px;
}

.autocomplete_icon_brewery {
  max-width: 18px;
  min-width: 18px;
}

/********************
* buttons
********************/
#personal #button_bbs, #personal .follow, .sakagura_buttons li, .user_buttons li, .custom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e6e6e6, #ffffff);
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  width: 136px;
  height: 28px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.custom_button {
  width: 40px;
}

#button_bbs:first-child, .sakagura_buttons li:first-child, .user_buttons li:first-child {
  margin-right: 16px;
}

.custom_button:first-child {
  margin-bottom: 8px;
}

.user_buttons li span {
  font-weight: bold;
}

#personal #button_bbs:hover, #personal .follow:hover, .sakagura_buttons li:hover, .user_buttons li:hover, .custom_button:hover {
  border: 1px solid #FF4545;
}

.mypage_config_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.button_bbs_heart2020, .button_bbs_pin1616, .sakagura_buttons_pin1616, .user_buttons_config1616, .user_buttons_pin1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  transition: 0.3s;
}

.sakagura_buttons_writing1816, .sakagura_buttons_share1816 {
  fill: #b2b2b2;
  width: 18px;
  height: 16px;
  margin-right: 5px;
  transition: 0.3s;
}

.user_buttons_trophy1216 {
  fill: #b2b2b2;
  width: 12px;
  height: 16px;
  margin-right: 5px;
}

.search_result_button_pin1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.button_text {
  display: none;
  justify-content: flex-start;
  align-items: center;
  color: #666666;
  font-size: 13px;
  font-weight: bold;
}

.followed {
  background: linear-gradient(#EDCACA, #ffffff);
  border: 1px solid #FF4545;
  transition: 0.3s;
}

.followed .search_result_button_pin1616 {
  fill: #FF4545;
  transition: 0.3s;
}

/********************
* edit_buttons
********************/
.edit_sake_bar_container, .updatebar_container {
  width: 100%;
  margin-top: 24px;
}

.edit_sake_bar, #updatebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 100%;
  padding: 24px 0;
}

#edit_sake, #add_sake, .edit_sake, .add_sake, #update_sakagura, #add_new_sakagura, #update_inshokuten, #add_new_inshokuten {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f5f5f5, #ffffff);
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  width: 40%;
  max-width: 320px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #b2b2b2;
  cursor: pointer;
}

.edit_sake_bar a:first-child, #updatebar a:first-child {
  margin-right: 16px;
}

.edit_sake_penplus2020, .add_sake_pen1616, .update_sakagura_penplus2020, .add_new_sakagura_pen1616, .update_inshokuten_penplus2020, .add_new_inshokuten_pen1616 {
  fill: #8c8c8c;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/********************
* sns
********************/
.sns_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  height: 32px;
}

.twitter-share-button, .fb-share-button {
  margin-right: 16px;
}

/********************
* dialog_background
********************/
#dialog_background, #dialog_edit_sake_background, .dialog_add_sakagura_background, .dialog_add_sake_background, #dialog_edit_sakagura_background, #dialog_add_inshokuten_background {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  width: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dialog_table {
  display: table;
  width: 100%;
  height: 100%;
}

.dialog_table-cell {
  display: table-cell;
  width: 100%;
}

/********************
* turn_page
********************/
.search_result_turn_page, #review_result_turn_page, #sakagura_result_turn_page, #userfollowpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 24px;
}

#review_result_turn_page .selected, #sakagura_result_turn_page .selected {
  background:#22445B;
  color:#fff;
}

#prev_search_all, #next_search_all, #prev_search_sake, #next_search_sake, #prev_search_sakagura, #next_search_sakagura, #prev_sake_review, #next_sake_review, #prev_sake_photo, #next_sake_photo, #prev_sakagura_sake, #next_sakagura_sake, #prev_mypage_review, #next_mypage_review, #prev_mypage_sakagura, #next_sakagura {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

#prev_search_all, #prev_search_sake, #prev_search_sakagura, #prev_sake_review {
  background: #d2d2d2;
  margin-right: 8px;
  cursor: pointer;
}

#next_search_all, #next_search_sake, #next_search_sakagura, #next_sake_review, #next_sakagura_sake {
  background: #b2b2b2;
  margin-left: 8px;
  cursor: pointer;
}

#prev_sake_photo, #prev_sakagura_sake, #prev_mypage_review, #prev_mypage_sakagura {
  background: #d2d2d2;
  margin-right: 8px;
  cursor: default;
}

#next_sake_photo, #next_mypage_review, #next_sakagura {
  background: #d2d2d2;
  margin-left: 8px;
  cursor: default;
}

#prev_sake_photo.active, #next_sake_photo.active, #prev_mypage_review.active, #prev_mypage_sakagura.active, #next_mypage_review.active, #next_sakagura.active {
  background: #b2b2b2;
  cursor: pointer;
}

.prev_button_prev2020, .next_button_next2020 {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}

.pageitems {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b2b2b2;
  color: #ffffff;
  font-size: 11px;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border-radius: 2px;
  cursor: pointer;
}

/********************
* footer
********************/
.sakenomu_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 100%;
  height: 48px;
  box-shadow: 0 2px 4px #000000;
  z-index: 99;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
  padding: 0 8px;
}

.footer_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.footer_home2020, .footer_search2020, .footer_login2020, .footer_person2020 {
  fill: #8c8c8c;
  width: 20px;
  height: 20px;
}

.footer_icon span {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

/****************************************/
@media only screen and (min-width: 560px) {
  #dialog_background, #dialog_edit_sake_background, .dialog_add_sakagura_background, .dialog_add_sake_background, #dialog_edit_sakagura_background, #dialog_add_inshokuten_background {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #category_menu {
    display: flex;
  }

  .border_line_invisible {
    background: #d2d2d2;
    width: 1px;
    height: 20px;
    display: block;
  }

  .custom_button {
    width: 136px;
  }

  .search_result_button_pin1616 {
    margin-right: 5px;
  }

  .button_text {
    display: flex;
  }
}

@media only screen and (min-width: 800px) {
  .sakenomu_footer {
    display: none;
  }

  .mobile_search_container {
    display: none;
  }

  #navigation_menu {
    display: flex;
  }
}
